body {
  background-color: #383838;
}

#periodic-table {
  width: 100%;
  height: 50%;
  max-width: 700px;
  table-layout: fixed;
  margin: auto;
}

td {
  position: relative;
  font-family: "Consalas", monospace;
  border-radius: 3px;
  user-select: none;
}

.table-data :first-child {
  width: 100%;
  position: absolute;
  display: block;
  top: 0px;
  left: 2px;
  font-size: 50%;
}

.table-data :not(:first-child) {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  top: 0.5vh;
  margin-top: 1.2vmin;
  margin-bottom: 0.5vh;
  font-size: 85%;
}

#element-input {
  color: white;
  background-color: rgb(82, 82, 82);
  box-shadow: 1px 1px 7px #aeacac;
}

.not-guessed {
  background-color: rgb(130, 128, 128);
  color: transparent;
}

.guessed {
  color: black;
  font-weight: bold;
  transition: ease-out 0.75s;
  border-style: solid 1px black;
  text-shadow: 3px 3px 10px black;
}

.guess-bar div {
  margin: auto;
  margin-bottom: 3px;
  padding: 5px;
  border: 4px solid black;
  border-radius: 4px;
  width: 300px;
  font-family: "Rubik";
  color: black;
}

#guesser {
  padding: 15px;
  width: 50%;
  margin: auto;
  display: grid;
}

#element-input {
  margin-left: 20%;
  margin-right: 20%;
}

#guess-button {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10px;
  background-color: #aeacac;
  color: black;
}
